.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 20px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  background-color: white;
}

.spacer {
  height: 70px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 40px 0;
  padding-bottom: 20px;
}

.manager {
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-weight: bold;
  color: rgb(44, 89, 131);
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid gray;
  width: 60%;
  margin-bottom: 20px;
}

.login {
  padding: 10px 20px;
  background-color: rgb(134, 212, 143);
  border-radius: 8px;
  border: 2px solid rgb(220, 220, 220);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
}

.alertBtn {
  padding: 10px 20px;
  background-color: rgb(199, 113, 113);
  border-radius: 8px;
  border: 2px solid rgb(220, 220, 220);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
}

span {
  font-weight: bold;
  color:gray;
}